<div>
  <p>User name: {{parent.userName}}</p>
  <p>First name:{{parent.firstName}}</p>
  <p>Last name: {{parent.lastName}}</p>
  <p>Age: {{parent.age}}</p>
  <p>Language: {{parent.language}}</p>
  <p>Nationality: {{parent.nationality}}</p>
  <p>Gender: {{parent.gender}}</p>
  {{!-- <p>Location: {{ parent.location}}</p> --}}
  <p>Ocupation: {{parent.ocupation}}</p>
  <p>Activity: {{parent.activity}}</p>
  <p>Picture: {{parent.pictureUrl}}</p>
  <button onclick="addChild()">Add child</button>
  <button onclick="addActivity()">Add activity</button>
  <button onclick="/add-places">Add Places</button>
  <ul>
    {{#each matches}}
    <li>{{ this.firstName }} {{ this.lastName }}</li>
    {{/each}}
  </ul>
  <div id='addChild' style="visibility:hidden;">
    <form action="/child/add" method="post">
      <input type="hidden" name="parentId" value="{{parent.id}}" />
      <label for="">name:</label>
      <input type="text" name="name">

      <label for="">Language:</label>
      <input type="text" name="Language">

      <label for="">Age:</label>
      <input type="text" name="age">

      <label for="">Picture </label>
      <input type="text" name="pictureUrl">

      <label for="">Gender</label>
      <input type="text" name="gender">

      <button type="submit">ADD</button>
    </form>
  </div>
  <div id='addActivity' style="visibility:hidden;">
    <form action="/activity/add" method="post">
      <input type="hidden" name="parentId" value="{{parent.id}}" />

      <label for="">Location:</label>
      <input type="text" name="location">

      <label for="">Activity type:</label>
      <input type="text" name="activityType">

      <label for="">Time</label>
      <input type="date" name="time">

      <button type="submit">ADD</button>
    </form>
  </div>
</div>